.basics__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    width: 63rem;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 57rem;
  }
}

.basics__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include form-label;
  margin-bottom: 1.6rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2.4rem;
  }
}

.basics__input {
  flex-grow: 1;
  width: 50%;
  padding: 1.4rem;
  margin-left: 2rem;
}
