.btn {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 1.2rem;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1rem 3rem;
  }

  &--green {
    background-color: $color-primary;
    color: #ffffff;

    &:hover {
      background-color: $color-primary-dark;
    }

    &:active {
      background-color: $color-primary-dark;
      color: rgba(#ffffff, 0.3);
    }
  }

  &--gray {
    color: inherit;
    background-color: $color-background-gray;
  }
}
