.catalog-main {



  &__heading {
    @include heading;
    margin-left: 5vw;
    margin-top: 2rem;
  }

  &__products {
    list-style: none;
  }

  &__show-more {}

  &__suplies {}

  &__present {}
}
