.catalog-main {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  &__heading {
    @include heading;
    //@include content-center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $tablet-width) {
      margin-top: 6rem;
      margin-left: 3rem;
    }

    @media (min-width: $desktop-width) {
      margin-left: 11rem;
    }
  }

  &__products {
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 7rem;
    }

    @media (min-width: $desktop-width) {
      @include content-center;
    }
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      width: 122rem;
      margin: 0 auto;
    }
  }


  //&__suplies {}

  &__present {
    min-height: 290px;
  }
}
