.comment__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    width: 63rem;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 130rem;
    padding: 0 4rem;
  }
}

.comment__wrapper {
  @include green-line;
}

.comment__title {
  @include content-center;
  font-weight: 400;
  margin-top: 0.5rem;
}

.comment__title-text {
  @include fieldset-title;
  width: 16rem;

  @include heading-alignment;

  @media (min-width: $tablet-width) {
    width: 25.8rem;
  }
}

.comment__input {
  min-width: 28rem;
  border-color: $color-line-light;

  @media (min-width: $tablet-width) {
    width: 63rem;
  }

  @media (min-width: $desktop-width) {
    width: 122rem;
  }
}
