.comment {
  &__content-center {
    @include content-center;

    @media (min-width: $tablet-width) {
      width: 63rem;
      margin-bottom: 7rem;
    }
  }

  &__title {
    @include fieldset-title;
  }

  &__input {
    min-width: 28rem;
    border-color: $color-line-light;

    @media (min-width: $tablet-width) {
      width: 63rem;
    }
  }
}
