.comment__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    width: 63rem;
    margin-bottom: 7rem;
  }

  @media (min-width: $desktop-width) {
    width: 130rem;
    padding: 0 4rem;
  }
}

.comment__title {
  @include fieldset-title;
}

.comment__input {
  min-width: 28rem;
  border-color: $color-line-light;

  @media (min-width: $tablet-width) {
    width: 63rem;
  }

  @media (min-width: $desktop-width) {
    width: 122rem;
  }
}
