.contacts {
  &--catalog {
    @media (min-width: $tablet-width) {
      background-color: $color-background-gray;
    }
  }

  &--form {
    padding-top: 1rem;
    background-color: $color-background-gray;
  }
}

.contacts__content-center {
  @include content-center;
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 12rem;
    z-index: 10;
  }
}

.contacts__card {
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 3rem;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 3.5rem 4rem;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 57rem;
    padding: 6rem 7.5rem;
    margin: 0;
    position: relative;
  }
}

.contacts__title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;

  @media (min-width: $tablet-width) {
    width: 17rem;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.contacts__address {
  @include text-formatting;

  @media (min-width: $tablet-width) {
    width: 17rem;
    text-align: right;
    line-height: 2.1rem;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }

  span {
    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 1em;
    }
  }
}

.contacts__map {
  z-index: 5;

  @media (min-width: $desktop-width) {
    margin-top: -34rem;
  }
}

.contacts__map-content {
  width: 100%;
  min-height: 36rem;

  @media (min-width: $tablet-width) {
    min-height: 40rem;
  }

  @media (min-width: $desktop-width) {
    min-height: 45rem;
  }
}
