.contacts {
  @media (min-width: $tablet-width) {
    padding-top: 2.5rem;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  &--catalog {
    background-color: $color-background-gray;

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }

  &--form {
    background-color: $color-background-gray;
  }
}

.contacts__content-center {
  @include content-center;
  position: relative;
  padding-top: 3rem;

  @media (min-width: $desktop-width) {
    padding-top: 10rem;
    z-index: 10;
  }
}

.contacts__card {
  display: flex;
  margin-bottom: 2.5rem;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 3.5rem 4rem;
    margin-bottom: 2.6rem;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 57rem;
    padding: 6rem 7.5rem;
    margin: 0;
    position: relative;
  }
}

.contacts__title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;

  @media (min-width: $tablet-width) {
    width: 17rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.contacts__address {
  @include medium-text-formatting;
  line-height: 2rem;

  @media (min-width: $tablet-width) {
    width: 17rem;
    text-align: right;
    line-height: 2rem;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }

  span {
    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 1.2em;
    }
  }
}

.contacts__map {
  z-index: 5;
  height: 36rem;

  @media (min-width: $tablet-width) {
    height: 40rem;
  }

  @media (min-width: $desktop-width) {
    margin-top: -30rem;
  }
}

.contacts__map-content {
  width: 100%;
  min-height: 36rem;
  border: none;

  @media (min-width: $tablet-width) {
    min-height: 40rem;
  }

  @media (min-width: $desktop-width) {
    min-height: 40rem;
  }
}
