.copyright {
  @include content-center;
  margin-bottom: 2rem;
  padding: 0 2rem;

  @media (min-width: $tablet-width) {
    padding-top: 1.5rem;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.copyright__link {
  text-decoration: none;
  color: $color-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__logo {
  fill: $color-text;
}

.copyright__link:hover .copyright__logo {
  fill: $color-primary;
}

.copyright__link:active .copyright__logo {
  fill: $color-primary;
  opacity: 0.5;
}

.copyright__link:hover {
  opacity: 0.8;
}

.copyright__link:active {
  opacity: 0.6;
}
