.example {
  background-color: $color-background-gray;
  padding-top: 1.8rem;
  padding-bottom: 3rem;

  @media (min-width: $tablet-width) {
    padding-top: 4.4rem;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 70%, $color-background-gray 70%);
    padding-bottom: 9.4rem;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 20%, $color-background-gray 20%);
  }
}

.example__content-center {
  @include content-center;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 50%;
  }
}

.example__heading {
  @include heading;
  margin-bottom: 2rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 6.6rem;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15rem;
  }
}

.example__text {
  @include text-formatting;
  margin-bottom: 2.5rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 5rem;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6.6rem;
  }
}

.example__stats-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.example__stats {
  margin-bottom: 3.6rem;
}

.example__expenses {
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 4rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: right;
    width: 19rem;
    padding-top: 1.6rem;
  }

  @media (min-width: $desktop-width) {
    width: 32.5rem;
    text-align: left;
  }
  //&__before {}
  //&__after {}
}
