.example {
  padding: 2rem;
  background-color: var(--color-background-gray);

  &__content-center {}

  &__heading {
    @include heading;
  }

  &__text {
    @include text-formatting;
  }

  &__stats {}

  &__expenses {
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;

    display: block;

    margin-top: 3rem;
  }

  &__wrapper {}


  //for the slider

  &__cat-pic {}

  &__before {}

  &__after {}
}
