.form-main__wrapper {
  @include content-center;
}

.form-main__heading {
  @include heading;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;

  @media (min-width: $tablet-width) {
    margin-top: 5rem;
    margin-bottom: 5.5rem;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
}

.form-main__subline {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 4rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    line-height: 3rem;
    width: 35rem;
    margin-left: 4rem;
    margin-bottom: 6.8rem;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7rem;
  }
}
