.form-main {

  &__heading {
    @include heading;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  &__subline {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;

    margin-left: 2rem;
    margin-bottom: 3rem;
  }

  &__form {}
}
