.hero {

  background: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  padding: 3.2rem 0;


  &__content-center {
    @include content-center;
  }

  &__text-wrapper {}

  &__heading {
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: inherit;
    text-align: center;
    color: var(--color-white);
  }

  &__subline {
    font-size: 1.4rem;
    line-height: 1.4rem;

    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);

    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
  }

  &__product {}

  &__btn {}
}
