.hero {
  background: url("../../img/index-can-mobile@1x.png") 50% 72% no-repeat, url("../../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
  padding-top: 2rem;
  padding-bottom: 2.2rem;

  @media (min-width: $tablet-width) {
    background: url("../../img/index-can-mobile@1x.png") 80% 95% no-repeat;
    background-size: 630px 600px;
    padding-bottom: 50.5rem;
  }

  @media (min-width: $desktop-width) {
    margin-top: -10rem;
    background: url("../../img/index-can-mobile@1x.png") 65% 60% no-repeat, url("../../img/index-background-mobile@1x.jpg") 100% 0 no-repeat;
    background-size: 500px auto, 47% auto;
    padding-bottom: 20rem;
  }
}

.hero__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    padding: 3rem 8.5rem;
  }

  @media (min-width: $desktop-width) {
    padding: 18rem 8rem 8rem;
  }
}

.hero__heading {
  font-size: 3.6rem;
  line-height: 3.7rem;
  font-weight: inherit;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2.2rem;

  @media (min-width: $tablet-width) {
    font-size: 6rem;
    line-height: 6rem;
    color: $color-black;
    text-align: left;
    margin-bottom: 4rem;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.hero__subline {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30.2rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    line-height: 2rem;
    color: $color-black;
    text-align: left;
    margin-bottom: 4.4rem;
  }
}
