.hero {

  background: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  padding: 32px;

  &__content-center {}

  &__text-wrapper {}

  &__heading {
    font-size: 36px;
    line-height: 36px;
    font-weight: inherit;
    text-align: center;
    color: var(--color-white);
  }

  &__subline {
    font-size: 14px;
    line-height: 14px;

    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);

    margin-top: 28px;
    margin-bottom: 28px;
  }

  &__product {}

  &__btn {}
}
