.main-nav {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }


  &__list {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
