.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include content-center;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 23px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}

.main-nav .main-nav__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav--open .main-nav__toggle {
  background-image: url("../img/icon-close.svg");
}

.main-nav .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--open .main-nav__list {
  display: flex;
}

.main-nav--nojs .main-nav__list {
  display: flex;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
