.owner-contacts__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    width: 63rem;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    @include content-center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.owner-contacts__wrapper {
  @include green-line;

  &::before {
    top: 30%;

    @media (min-width: $tablet-width) {
      top: 50%;
    }

    @media (min-width: $tablet-width) {
      top: 60%;
    }
  }
}

.owner-contacts__title {

  @include content-center;
  font-weight: 400;
  margin-top: 1rem;
}

.owner-contacts__title-text {
  @include fieldset-title;
  width: 22rem;

  @include heading-alignment;

  margin-bottom: 3.8rem;

  @media (min-width: $tablet-width) {
    width: 59.2rem;
  }
}

.owner-contacts__label {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  @include form-label;
  margin-bottom: 1rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2.4rem;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;

    &:first-child {
      margin-right: 8rem;
    }
  }
}

.owner-contacts__input {
  flex-grow: 1;
  width: 50%;
  margin-left: 2rem;
}

.owner-contacts__input:focus + .owner-contacts__icon,
.owner-contacts__input:invalid:focus + .owner-contacts__icon {
  fill: $color-primary;
}

.owner-contacts__input:not(:placeholder-shown):invalid + .owner-contacts__icon {
  fill: $color-red;
}

.owner-contacts__icon {
  position: absolute;
  fill: $color-text;

  &--mail {
    top: 14px;
    right: 12px;

    @media (min-width: $tablet-width) {
      top: 20px;
    }

  }

  &--phone {
    top: 14px;
    right: 8px;

    @media (min-width: $tablet-width) {
      top: 20px;
    }
  }
}
