.page-header__content-center {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70.8rem;
    margin: 0 auto;
    padding-top: 2.2rem;
  }

  @media (min-width: $desktop-width) {
    width: 122rem;
    padding-top: 5.5rem;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $color-line-light;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.page-header__logo {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__logo-pic {
  width: 4.2rem;
  height: 3.4rem;

  @media (min-width: $tablet-width) {
    width: 17.5rem;
    height: 6rem;
  }

  @media (min-width: $desktop-width) {
    width: 20.4rem;
    height: 6rem;
  }
}

.page-header__logo-text {
  width: 10.2rem;
  height: 1.9rem;
  transform: translateX(-65%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__close {
  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}
