.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background-gray;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
  }

  &__logo-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__social {
    max-width: 80%;
    margin-left: 5rem;
    margin-right: 5rem;
    border-top: 1px solid $color-line-medium;
    border-bottom: 1px solid $color-line-medium;
    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &__copyright {
    font-family: "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    @media (min-width: $tablet-width) {
      margin: 0;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0 2rem;
  }
}