.present {
  width: 28rem;
  min-height: 290px;
  margin: 3.2rem auto 3rem;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 70.8rem;
    margin-top: 7rem;
    margin-bottom: 8rem;
    min-height: 20rem;
    padding: 5rem 7rem 1.6rem;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 24.5rem;
    min-height: 2.9rem;
    margin: 0 0 6.5rem;
    padding: 4rem;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.present__icon {
  fill: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-30px);
  top: 68px;

  @media (min-width: $tablet-width) {
    left: 88px;
    transform: translateX(0);
  }
}

.present__text {
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #ffffff;
  text-align: center;
  padding: 19rem 6rem 5rem;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 2rem;
    padding-left: 35rem;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 15rem 0 0;
  }
}
