.program-card {
  background-color: $color-background-gray;
  padding: 2rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  @media (min-width: $tablet-width) {
    padding: 6rem 5rem;
  }
  @media (min-width: $desktop-width) {
    width: 57rem;
    padding-top: 7rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
  }

  &__description {
    @include text-formatting;
    @media (min-width: $tablet-width) {
      padding-right: 26rem;
    }
    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid $color-line-medium;
    @media (min-width: $tablet-width) {
      border: none;
      margin-top: 4rem;
    }
    @media (min-width: $desktop-width) {
      margin-top: 1rem;
    }
  }
}

.program-card__title {
  font-size: 2.4rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  font-weight: inherit;
  color: $color-black;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 7.2rem;
  @media (min-width: $tablet-width) {
    font-size: 3.6rem;
    padding-left: 0;
  }
  @media (min-width: $desktop-width) {
    padding-left: 16rem;
    margin-bottom: 6.7rem;
  }

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    background-color: $color-primary;
    border-radius: 50%;
    @media (min-width: $tablet-width) {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 2.4rem;
      left: 39rem;
    }
    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: -2rem;
      left: 0;
    }
  }

  &--slim::after {
    content: " ";
    position: absolute;
    left: 12px;
    top: 0;
    width: 52px;
    height: 52px;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    @media (min-width: $tablet-width) {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 1.2rem;
      left: 42rem;
    }
    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: -3rem;
      left: 1.6rem;
    }
  }

  &--pro::after {
    content: " ";
    position: absolute;
    left: -6px;
    top: 12px;
    width: 66px;
    height: 52px;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    @media (min-width: $tablet-width) {
      position: absolute;
      width: 280px;
      height: 280px;
      top: 7rem;
      left: 35rem;
    }
    @media (min-width: $desktop-width) {
      width: 140px;
      height: 140px;
      top: 0;
      left: -2rem;
    }
  }
}
