.program {
  &__content-center {
    @include content-center;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-width) {
      width: 63rem;
      border: 1px solid $color-line-light;
      padding: 2.6rem;
      margin-bottom: 7.5rem;
    }
    @media (min-width: $desktop-width) {
      width: 57rem;
    }
  }

  &__label {
    @include form-label;
    margin-bottom: 1.6rem;
    padding-left: 4.4rem;
    @media (min-width: $tablet-width) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  //&__choice {}
}