.process {
  padding-top: 2rem;
  padding-bottom: 4.5rem;

  @media (min-width: $tablet-width) {
    padding-top: 4.2rem;
    padding-bottom: 7.6rem;
    border-bottom: 1px solid $color-line-light;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4.4rem;
    border: none;
  }
}

.process__content-center {
  @include content-center;
}

.process__heading {
  @include heading;
  margin-bottom: 3rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 7.4rem;
  }
}

.process__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 63.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: process-steps;
  }

  @media (min-width: $desktop-width) {
    width: 122rem;
  }
}

.process__text {
  @include text-formatting;
}

.process__item {
  display: block;
  padding-left: 80px;
  position: relative;
  margin-bottom: 2.6rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 25rem;
    padding-left: 0;
    padding-top: 11rem;
    counter-increment: process-steps;

    &::after {
      content: counter(process-steps);
      position: absolute;
      top: 90px;
      right: 0;
      font-size: 28rem;
      color: $color-background-gray;
      z-index: -1;
    }

    &:nth-child(1)::after {
      right: 15px;
    }

    &:nth-child(1) {
      margin-bottom: 13.5rem;
    }

    @media (min-width: $desktop-width) {
      width: 24.5rem;

      &:nth-child(1) {
        margin-bottom: 1rem;
      }
    }
  }

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--fork::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}
