.product-card {
  @include content-center;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid $color-line-light;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    max-width: 32.4rem;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 15%, $color-background-gray 15%);
    padding: 0 3rem 3.5rem;
    margin-bottom: 4rem;
    border: none;

    &:nth-child(2n-1) {
      margin-right: 5.5rem;
    }
  }

  @media (min-width: $desktop-width) {
    width: 24.5rem;
    padding: 0 0 4rem;

    &:nth-child(2n),
    &:nth-child(2n-1) {
      margin-right: 8rem;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &:first-child {
    border-top: 1px solid $color-line-light;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.product-card__content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.8rem;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-end;
    width: 25rem;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 24.5rem;
  }
}

.product-card__pic-link {
  flex: 1 1 50%;
}

.product-card__pic {
  width: 140px;
  height: auto;

  &--small {
    @media (min-width: $tablet-width) {
      margin-top: 2.7rem;
    }

    @media (min-width: $desktop-width) {
      margin-top: 3.5rem;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-card__text-wrapper {
  flex: 1 1 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 3rem;
  }

  @media (min-width: $desktop-width) {
    max-width: 17rem;
  }
}

.product-card__title {
  &:link,
  &:visited {
    color: $color-black;
  }
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  display: block;
  width: 80%;
  margin-bottom: 1rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    line-height: 2rem;
    width: 12rem;
    margin: 0 auto 2rem;
    text-align: center;
  }
}

.product-card__info {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $color-text;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 3.5rem;
  }

  tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding: 0.6rem 0;
      border-bottom: 1px solid $color-line-dark;
    }
  }
}

.product-card__btn {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 17rem;
  }
}
