.request-form {

  &__content-center {
    @include content-center;
  }

  &__basics {
    border: none;
    border-bottom: 1px solid $color-line-light;
    margin-bottom: 2rem;
  }

  &__program {
    border: none;
    border-bottom: 1px solid $color-line-light;
    margin-bottom: 2rem;
  }

  &__contacts {
    border: none;



    margin-bottom: 2rem;


  }

  &__comment {
    border: none;


    margin-bottom: 2rem;

  }

  &__additional {
    border: none;

    margin-bottom: 2rem;
  }

  &__btn {
    width: 100%;

  }

  &__footnote {
    @include text-formatting;

    display: block;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 3.4rem;
  }
}
