.request-form__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.request-form__wrapper {
  @media (min-width: $desktop-width) {
    @include content-center;
    display: flex;
    justify-content: space-between;
  }
}

.request-form__basics {
  border: none;
  border-bottom: 1px solid $color-line-light;
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.request-form__program {
  border: none;
  border-bottom: 1px solid $color-line-light;
  margin-bottom: 2rem;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.request-form__contacts {
  border: none;
  margin-bottom: 1rem;
}

.request-form__comment {
  border: none;
  margin-bottom: 2rem;
}

.request-form__additional {
  border: none;
  margin-bottom: 2rem;
}

.request-form__btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.request-form__footnote {
  @include text-formatting;
  display: block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;

  @media (min-width: $desktop-width) {
    margin-left: 8rem;
  }
}
