.show-more {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 32.4rem;
    margin: 0 auto;
    padding-bottom: 3rem;
    border: 1px solid $color-line-light;
  }

  @media (min-width: $desktop-width) {
    width: 24.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.show-more__content-center {
  @include content-center;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 4rem;
  }
}

.show-more__title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.6rem;
  padding-top: 8rem;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 12rem;
  }

  &::before {
    content: "";
  }
}

.show-more__text {
  @include text-formatting;
  text-align: center;
  margin-bottom: 2.2rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 9rem;
  }
}

.show-more__btn {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
