.show-more {
  position: relative;
  padding-bottom: 2.4rem;

  @media (max-width: $mobile-only) {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100vw;
      margin-left: -50vw;
      border-top: 1px solid $color-line-light;
    }
  }

  @media (min-width: $tablet-width) {
    width: 32.4rem;
    border: 1px solid $color-line-light;
    margin-top: auto;
    margin-bottom: 2rem;
    padding: 2.4rem 3.7rem 4rem;
  }

  @media (min-width: $desktop-width) {
    width: 24.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 7.8rem 0 auto;
    height: 43.3rem;
  }
}

.show-more__title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.8rem;
  padding-top: 8.2rem;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
    padding-top: 13.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 2.4rem;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-plus.svg");
    left: 125px;
    top: 30px;
    width: 30px;
    height: 30px;
    opacity: 0.5;

    @media (min-width: $tablet-width) {
      left: 99px;
      top: 24px;
      width: 60px;
      height: 60px;
      opacity: 1;
    }

    @media (min-width: $desktop-width) {
      left: 56px;
      top: 10px;
      opacity: 1;
    }
  }
}

.show-more__text {
  @include small-text-formatting;
  text-align: center;
  margin-bottom: 2.2rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 8.4rem;
    line-height: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.show-more__btn {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
