.site-list {
  margin: 0 auto;
  list-style: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 1rem;
    max-width: calc(70% - 2rem);
    flex-grow: 1;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 2rem;
    line-height: 2.5rem;
    flex-grow: 1;
    align-items: flex-start;
    max-width: calc(50% - 4rem);
  }
}

@media (min-width: $desktop-width) {
  .site-list--main .site-list__link {
    color: #ffffff;
  }

  .site-list--main .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }
}

.site-list__link {
  color: inherit;
  text-decoration: none;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.site-list__item {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 2.25rem;
  border-bottom: 1px solid $color-line-light;

  @media (min-width: $tablet-width) {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 0 0 0.6rem;
    border: none;
    margin-left: 3.5rem;
  }

  @media (min-width: $desktop-width) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $color-primary;
    }
  }
}
