* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
}
/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswald-v16-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/oswald-v16-latin_cyrillic-regular.woff") format("woff");
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswald-v16-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/oswald-v16-latin_cyrillic-500.woff") format("woff");
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  /*background: url("../img/cat-energy-catalog-mobile.jpg") no-repeat 50% 0;

  @media(min-width: $tablet-width) {
    background: url("../img/cat-energy-catalog-tablet.jpg") no-repeat 50% 0;
  }

  @media(min-width: $desktop-width) {
    background: url("../img/cat-energy-catalog-desktop.jpg") no-repeat 50% 0;
  } */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  @include visually-hidden;
}

img {
  max-width: 100%;
  height: auto;
}