// COLORS
$color-primary: #68b738;
$color-primary-dark: #5eaa2f;
$color-background-gray: #f2f2f2;
$color-text: #444444;
$color-black: #111111;
$color-red: #ff8282;
//lines
$color-line-light: #e6e6e6;
$color-line-medium: #d9d9d9;
$color-line-dark: #cfcfcf;
// MEDIA
$tablet-width: 768px;
$desktop-width: 1300px;
// RETINA
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
