// colors

:root {

  --color-green: #68b738;
  --color-white: #ffffff;

  --color-background-gray: #f2f2f2;

  --color-line-light: #ededed;
  --color-line-dark: #cdcdcd;

  --color-icon-light: #d3d3d3;
  --color-icon-dark: #666666;


  --color-black: #111111;
  --color-dark-gray: #222222;
  --color-text: #444444;


}
